
<h1 style="text-align: center;">Cadastro de Produto</h1>

<a mat-raised-button color="accent" routerLink="/produto/cadastro/0">
  <mat-icon class="toolbar-icon">add</mat-icon>
  Adicionar Produto
</a>

<form (submit)="$event.preventDefault()">
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="filtro" matInput placeholder="Filtrar por descrição" 
               [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <button mat-icon-button matTooltip="Filtrar" (click)="filtrar()">
      <mat-icon class="toolbar-icon">search</mat-icon>
    </button>
</form>

<mat-table [dataSource]="dataSource" matSort>
    {{ dataSource }}
	<mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas;"></mat-row>

    <ng-container matColumnDef="descricao">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Descrição
      </mat-header-cell>
      <mat-cell *matCellDef="let produto">
        {{ produto.descricao }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="valorVenda">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Valor Venda
      </mat-header-cell>
      <mat-cell *matCellDef="let produto">
      	 {{ produto.valorVenda | currency }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef>
      	Código
      </mat-header-cell>
      <mat-cell *matCellDef="let produto">
      	{{ produto.id }}
      </mat-cell>
    </ng-container>  

    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-icon class="toolbar-icon maozinha" matTooltip="Editar" 
              (click)="editar(row.id)">edit
            </mat-icon>
            <mat-icon class="toolbar-icon maozinha" matTooltip="Visualizar" 
              (click)="visualizar(row.id)">visibility
            </mat-icon>
        </mat-cell>
    </ng-container>

</mat-table>

<mat-paginator
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 15, 25]"
>
</mat-paginator>










