<form [formGroup]="form" fxLayoutAlign="center" novalidate>
    <div class="container-full">
        <h2>Cadastro de Usuário</h2>
        <mat-form-field style="width: 50%;">
            <mat-label>Usuário</mat-label>
            <input matInput placeholder="Usuário" formControlName="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Senha" formControlName="password">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" formControlName="name">   
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
 
        <div>
            <button mat-raised-button color="accent" [disabled]="form.invalid"
                    (click)="gravarUsuario()" style="width: 30%;">
                <mat-icon class="toolbar-icon">save</mat-icon>
                Salvar
            </button> 
            &nbsp;        
            <button mat-raised-button color="accent" [disabled]="form.invalid"
                    (click)="excluirDialog()" style="width: 30%;">
                <mat-icon class="toolbar-icon">delete</mat-icon>
                Excluir
            </button> 
            &nbsp;        
            <button mat-raised-button color="accent" routerLink="/usuario" style="width: 30%;">
                <mat-icon class="toolbar-icon">arrow_back</mat-icon>
                Voltar
            </button>
        </div>
 
    </div>
 
</form>

