
<h1 style="text-align: center;">Cadastro de Usuário</h1>

<a mat-raised-button color="accent" routerLink="/usuario/cadastro/0">
  <mat-icon class="toolbar-icon">add</mat-icon>
  Adicionar Usuário
</a>

<form (submit)="$event.preventDefault()">
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="filtro" matInput placeholder="Filtrar por nome" 
               [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <button mat-icon-button matTooltip="Filtrar" (click)="filtrar()">
      <mat-icon class="toolbar-icon">search</mat-icon>
    </button>
</form>

<mat-table [dataSource]="dataSource" matSort>
    {{ dataSource }}
	<mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas;"></mat-row>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Usuário
      </mat-header-cell>
      <mat-cell *matCellDef="let usuario">
        {{ usuario.username }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Nome
      </mat-header-cell>
      <mat-cell *matCellDef="let usuario">
      	{{ usuario.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>
      	Email
      </mat-header-cell>
      <mat-cell *matCellDef="let usuario">
      	{{ usuario.email }}
      </mat-cell>
    </ng-container>  

    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-icon class="toolbar-icon maozinha" matTooltip="Editar" 
              (click)="editar(row.username)">edit
            </mat-icon>
            <mat-icon class="toolbar-icon maozinha" matTooltip="Visualizar" 
              (click)="visualizar(row.username)">visibility
            </mat-icon>
        </mat-cell>
    </ng-container>

</mat-table>

<mat-paginator
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 15, 25]"
>
</mat-paginator>










